.DS_Store
/.build
/Packages
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.tuist/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode
